<!-- <div class="navbar" SideClass="navbar navbar-expand-lg navbar-dark blue darken-4">
    <div class="navbar-brand">
      <a href="#" class="navbar-brand">User Management</a>
    </div>
    <div>
      <ul class="navbar-nav mr-auto">
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link waves-light"  routerLink="users" routerLinkActive="active">
            Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light"  routerLink="dashboard" routerLinkActive="active">Students Exam Records</a>
        </li>
        
      </ul>
    </div>
</div> -->
  <router-outlet>
  </router-outlet>

